h4 {
  text-align: center;
  margin-bottom: 30px;
}

.out {
  position: absolute;
  top: 0;
  padding: 2vw;
  margin-left: 2vw;
  width: 10vw;
  font-size: 20px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
}
