h4 {
  text-align: center;
  margin-bottom: 30px;
}
.container {
  border: 2px solid black;
  align-items: center;
  padding: 15px;
}

.out {
  position: absolute;
  top: 0;
  padding: 2vw;
  margin-left: 2vw;
  width: 10vw;
  font-size: 20px;
  cursor: pointer;
}
